{% for article in gleanings %}

{% if article.type == "tweet" %}

<p><strong>Meanwhile a tweeter tweeted TK:</strong></p>
{{article.tweet|safe}}

{% else %}

{% if article.parsed %}

<p><strong>A witty setup TK.</strong> <a href="{{article.url}}" target="_blank">
{{article.publication}}’s {{article.authors}} report{% if article.authors_singular %}s{% endif %}:</a>
“{{article.summary}}”</p>

<p><strong>Witty setup TK:</strong> “<a href="{{article.url}}" target="_blank">{{article.title}}</a>”
[{% if "The " in article.publication %}{{article.publication[4:]}}{% else %}{{article.publication}}{%endif%}]

{% else %}

<p><strong style="color: #C83D2D">Couldn't parse:</strong> <a href="{{article.url}}" target="_blank">{{article.url}}</a></p>

{% endif %}

{% endif %}

{% endfor %}

{% if has_tweets %}
<code>
  &lt;script async src="//platform.twitter.com/widgets.js" charset="utf-8"&gt;&lt;/script&gt;
</code>
{% endif %}
